{% load static %}    
    <article class="card mb-3 w-100">
        <div class="row g-0">
        <div class="col-3 p-2">
            <div class="border w-100 mb-3" style="height: 100px">
            <img
                src="{% static 'img/img.jpg' %}"
                class="img-fluid rounded-start"
                alt="..."
            />
            </div>
            <div class="input-group flex-nowrap">
                <input type="number" value="{{ item.question_likes_count }}" class="form-control"/>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
            <h5 class="card-title">
                <a href="{% url "question" item.id %}">{{item.question_title}}</a>

            </h5>
            <p class="card-text">
                {{ question.question_field }}
            </p>
            <div class="row">
                <a class="col-4" href="/question/{{ question.id }}">{{ question.answers }}</a>
                <div class="col-8">
                <span>Tags:</span>
                {% for tag in question.tags.all %}
                <a href="{% url "tag" tag_name=tag.tag_name %}">{{ tag.tag_name }}</a>
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
        </div>
    </article>