{% load static %} 
  
    <div class="col-md-3">
        <img class="mb-3 rounded" src="{% static 'img/img.jpg' %}" width="125" height="125"/>
        <input type="number" value="5" class="form-control" />
    </div>
    <div class="col-md-8">
        <h3 class="mb-3">{{ question.question_title }}</h3>
        <p class="text-wrap text-break">
            {{ question.question_field }}
        </p>
        <span>Tags:</span>
        {% for tag in question.tags.all %}
        <a href="{% url "tag" tag_name=tag.tag_name %}">{{ tag.tag_name }}</a>
        {% endfor %}
    </div>